.full-width-image-container {
  position: relative;
  width: 100%;
  height: 480px;
  background-size: cover;
  background-position: center center;
}

.full-width-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
