.custom-navbar {
  background-color: #f4fffb;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.brand {
  font-size: 24px;
  font-weight: bold;
}

.nav-link {
  font-size: 18px;
  margin-right: 10px;
}
