.my-navbar {
  background-color: #f5f5dc;
  height: 80px;
  display: flex;
  justify-content: space-between; /* Separate the sections */
  align-items: center; /* Center the content vertically */
}

.left-section {
  display: flex;
  align-items: center;
}

.right-section {
  display: flex;
  align-items: center;
}

.nav-link {
  /* Customize the Nav Links style */
  font-size: 25px;
  color: #333;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #007bff;
}

/* Active link style */
.nav-link.active {
  color: #007bff;
  font-weight: bold;
}
